@import "cssmolecule";
@import "custom-bs";
@import "./scss/mixins";

@include bootstrap;


body {
    overflow: auto;
}

.app,
#root {
    height: 750px
}

.app {
    outline: 1px solid;
    @import "./scss/input";
}

.clear {
    opacity: 0;
}